<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string></string>
        <key>UIImageName</key>
        <string></string>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>$(APP_DISPLAY_NAME)</string>
    <key>BASE_URL</key>
    <string>$(BASE_URL)</string>
    <key>BUCKET_URL</key>
    <string>$(BUCKET_URL)</string>
    <key>KAKAO_API_KEY</key>
    <string>$(KAKAO_API_KEY)</string>
    <key>AMPLITUDE_API_KEY</key>
    <string>$(AMPLITUDE_API_KEY)</string>
    <key>APPSTORE_ID</key>
    <string>$(APPSTORE_ID)</string>
    <key>TEST_API_KEY</key>
    <string>$(TEST_API_KEY)</string>
</dict>
</plist>
