<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>BUCKET_URL</key>
	<string>$(BUCKET_URL)</string>
	<key>KAKAO_APP_KEY</key>
	<string>$(KAKAO_APP_KEY)</string>
	<key>AMPLITUDE_API_KEY</key>
	<string>$(AMPLITUDE_API_KEY)</string>
	<key>APPSTORE_ID</key>
	<string>$(APPSTORE_ID)</string>
	<key>TEST_API_KEY</key>
	<string>$(TEST_API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_APP_KEY)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>kr.websoso.app.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>websoso</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
